$barDark:#212529;
$barlight:#31373d;
$colorCallAction: #80c963;   
$colorAler:#d73d32;
$colorAccent: #e8cf00;  
$colorPrimary: #141414;  
$colorPrimaryDark: #000000;
$colorTextPrimary: #FFFFFF;
$colorTextSecondary: #666666;
$colorwindowBackground: #212121;
$colorNavigationBar: #000000;
$colorNavActive: #23B7E5; 
$colorWarning:#DE615E;
$colorLightBlue:#23b7e5;
$colorBlu:#353b4a;
$colorTextBlu:#939db7;
$colorLineBlue:#485062;
$colorGrey:#a2a2a6;
$asideWidth:220px;